fastapi
uvicorn[standard]
python-multipart
langchain
tritonclient[all]
unstructured[all-docs]
sentence-transformers
llama-index==0.8.28
weaviate-client
dataclass-wizard
opencv-python==4.8.0.74
llama-hub
pymilvus==2.3.1
jupyterlab
